{% extends 'auth_template.html' %}
{% block content %}
  <p class="py-6">{{welcome_message}}</p>
      <form method="post">
         {% csrf_token %}
         <fieldset>
         <label for="username">E-mail address:</label>
         <input type="text" id="username" name="username" required align="left"><br><br>
         {{data_external}}
         <label for="password">Password:</label>
         <input type="password" id="password" name="password" required align="left"><br><br>
         {{data_external}}
         <br>
         <input formaction="{% url 'app:login_proceed' %}" type="submit" value="Login">
         &nbsp;
         <input formaction="{% url 'app:register' %}" type="submit" value="Register"/>
         </fieldset>
       </form>
       <br><br><br><br>
       <b><i>{{output}}</i></b>
       <br><br>
{% endblock %}
