{% extends 'auth_template.html' %}
{% block content %}
<div style="text-align: center;">
  <p class="py-6">{{welcome_message}}</p>
      <form method="post">
         {% csrf_token %}
         <fieldset>
         <label for="username">E-mail address:</label>
         <input size="30" type="text" id="username" name="username" required align="left"><br><br>
         {{data_external}}
         <label for="password">Password:</label>
         <input size="30" type="password" id="password" name="password" required align="left"><br><br>
         {{data_external}}
         <br>
         <div style="display: flex; align-items: center; justify-content: center;">
         <input formaction="{% url 'app:login_proceed' %}" type="submit" value="Login">
         </form>
         &nbsp;
         <form>
         <input formaction="{% url 'app:register' %}" type="submit" value="Register"/>
        </form>
        </div>
         </fieldset>
       </form>
       <br><br><br><br>
       <b><i>{{output}}</i></b>
       <br><br>
</div>
{% endblock %}
