<!DOCTYPE html>
<html>
  <head>
    <title>
      Add triple
    </title>
  </head>
  <body>
    <form action="{% url 'test_app:page3_result' %}" method="post">
      {% csrf_token %}
      Subject:
      <input type="text" name="subj" required><br><br>
      {{data_external}}
      Predicate:
      <input type="text" name="pred" required><br><br>
      {{data_external}}
      Object:
      <input type="text" name="obj" required><br><br>
      {{data_external}}
      {{output}}
      <br><br>
      <input type="submit" value="Add data">
    </form>

  </body>
</html>