{% extends 'sidebar/template_add_data.html' %}
{% block content %}
<p class="text-gray-900 text-base no-underline hover:no-underline font-extrabold text-xl" align="center"><b><u>Start data drop</u></b></p>
<br><br><br><br><br><br>
<div style="text-align: center;">
<form>
    <input formaction="{% url 'app:dd_start' %}" type="submit" value="Start new data drop"/>
    <input {{disabled}} formaction="{% url 'app:dd_continue' %}" type="submit" value="Continue current data drop"/>
</form>
</div>
{% endblock %}